@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	header .header_nav .right-header_nav .header_search a .icon
		right: 82px
	.nav-bg_footer .footer-nav_links ul li
		padding: 0 14px
	.subcribe-bg_footer .subcribe_form form input
		width: 200px
	.subcribe-bg_footer .contacts
		font-size: 17px
	.footer-bg_nav .title_nav
		font-size: 16px
	header .header_nav .right-header_nav .header_search a .icon
		right: 24px

// ≥992px
+media-breakpoint-down(md)
	.footer-bg_nav
		display: none 
	.header_phone 
		display: none
	header .header_nav .right-header_nav .header_search input
		width: 260px	
	header .page-links_bg .links_header ul li a
		font-size: 14px
	header .page-links_bg .links_header ul li
		padding: 0 17px
	.subcribe-bg_footer .logo_footer
		min-height: 70px
		justify-content: center
	.subcribe-bg_footer .contacts
		min-height: 0
		margin-top: 30px
		display: flex
		justify-content: flex-start
		align-items: center
	.subcribe-bg_footer
		padding-bottom: 20px
	.nav-bg_footer .footer-nav_links ul li
		padding: 0 4px
	.nav-bg_footer .footer-nav_links ul li a
		font-size: 15px
	.footer_privacy .privacy 
		justify-content: flex-start
		display: flex

	.news main .thumbnail
		margin-bottom: 25px

	

// ≥768px
+media-breakpoint-down(sm) 
	.header-desktop 
		display: none
	.header-mobile
		display: block
	main 
		padding-top: 80px
	.nav-bg_footer
		display: none

// ≥576px
+media-breakpoint-down(xs)
	.subcribe-bg_footer .subcribe_form form 
		display: flex
		flex-direction: column
		width: 100%
	.subcribe-bg_footer .subcribe_form form input
		width: 100%
	.subcribe-bg_footer .subcribe_form
		padding: 0
	.subcribe-bg_footer .subcribe_form form input:last-of-type
		margin-left: 0
		margin-top: 20px
	.subcribe-bg_footer .subcribe_form span
		font-size: 18px
	.footer_privacy .privacy ul li
		font-size: 12px
	.footer_privacy .soc_icon ul li a i
		font-size: 17px
	.footer_privacy .soc_icon ul li a svg
		height: 25px
		width: 25px
	h1, h2
		line-height: 34px
		font-size: 25px
	.title_text
		line-height: 30px
		font-size: 18px
	p 
		font-size: 15px
		line-height: 25px
	.logo_mobile 
		img 
			width: 60%
	.header-mobile_bg .menu_nav_button button i
		font-size: 25px
	.header-mobile_bg .menu_nav_button
		top: 25%
		left: 4%
	.news main .description_news .preview_news
		font-size: 15px
	.news main .description_news .title_news
		font-size: 20px
	.address ul li a
		font-size: 15px
	.oplata-dostavka main 
		padding-bottom: 20px
	.tehnology 
		img 
			margin: 15px auto


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
