@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
 
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	font-weight: 400
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

ul 
	display: flex
	flex-direction: row
	text-decoration: none
	list-style: none
	padding: 0

p 
	font-size: 18px
	line-height: 30px
	margin-bottom: 20px

main 
	padding-top: 40px
	padding-bottom: 60px

.pt-25 
	padding-top: 25px

.p0
	padding: 0

.full_height 
	min-height: 230px


.header-mobile 


.header-mobile_bg
	background-color: #20bebe
	height: 62px
	position: relative
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	z-index: 999
	.logo
		display: block
		margin: 0 auto
		img 
			width: 100%
			height: auto
			display: block
	.menu_nav_button
		position: absolute
		left: 2%
		top: 15%
		button 
			background: none 
			border: none
			i 
				font-size: 40px
				color: #fff

.center 
	display: flex
	justify-content: center

.header-mobile
		display: none

.between-center
	height: 100px
	display: flex
	justify-content: space-between
	align-items: center
.between 
	display: flex
	justify-content: space-between
.main
	header
		.nav-links_bg
			background-color: #005d5d
			height: 32px
			display: flex
			align-items: center
			.nav-links
				margin: 0
				li 
					padding: 8px 15px
					&:hover 
							border-left: 1px solid #056767
							border-right: 1px solid #056767
					a 
						color: $accent
						font-family: $default-font
						font-size: 15px
						font-weight: 400
						text-transform: uppercase
						transition: 0.3s ease
						justify-content: center
						&:hover 
							color: #fff



header
	.nav-links_bg
		background-color: #fff
		border-bottom: 1px solid #ececec
		.nav-links
			margin: 0
			li 
				padding: 0px 15px
				&:hover 
						border-left: 1px solid #ececec
						border-right: 1px solid #ececec
				a 
					color: #02a5a5
					font-family: $default-font
					font-size: 15px
					font-weight: 400
					text-transform: uppercase
					transition: 0.3s ease
					justify-content: center
					&:hover 
						color: $accent
	.header_nav 
		min-height: 100px
		height: 100%
		.logo 
			display: flex
			justify-content: center
			align-items: center
			img 
				width: 100%
				display: block
				height: auto
		.right-header_nav
			.header_search
				position: relative
				input
					width: 280px
					height: 33px
					border-radius: 5px
					border: 1px solid #20bebe
					background-color: #ffffff
					padding: 9px 11px
					color: #005d5d
					&::placeholder
						color: #005d5d
				a
					background-color: #fff
					width: 100%
					.icon 
						position: absolute
						top: 6px
						right: 64px
						.dash
							position: absolute
							top: -1px
							right: 25px
							&::after 
								display: block
								content: ''
								width: 1px
								height: 23px
								background-color: #d2d2d2
		.phone
			color: #202020
			font-size: 20px
			font-weight: 400
		.offer_phone
			a
				color: #00bebe
				font-size: 18px  
				font-weight: 400
				text-decoration: none
				border-bottom: 1px dashed #00bebe
	
	.page-links_bg
		height: 34px
		background-color: #20bebe
		display: flex
		align-items: center
		.links_header	
			display: flex
			align-items: center
			justify-content: center
			ul 
				margin: 0
				li 
					padding: 0 21px
					border-right: 1px solid #2ec9c9
					height: 34px
					display: flex
					align-items: center
					&:last-of-type
						border: none
					a 
						color: #ffffff
						font-size: 18px
						font-weight: 400
						text-decoration: none
						
.nav-bg_footer
	background-color: #00bebe
	min-height: 56px
	.footer-nav_links
		height: 56px
		display: flex
		justify-content: center
		align-items: center
		ul 
			display: flex
			align-items: center
			margin: 0
			li 
				padding: 0 20px
				a 
					text-decoration: none
					color: #ffffff
					font-size: 18px
					transition: all 0.4s ease 
					&::after
						display: block
						content: ''
						width: 100%
						height: 2px
						background-color: #7fdede
						transform: scale(0)
					&:hover
						&::after
							transform: scale(1)
							transform: translateY(-5px)




		
							
.active_links
	border-left: 1px solid #ececec
	border-right: 1px solid #ececec
	&::after
		display: block
		content: ''
		height: 2px
		width: 100%
		background-color: #20bebe
		margin-top: 2px
	a
		color: #111 !important
		text-decoration: none
		cursor: default


.footer-bg_nav 
	background-color: #005d5d
	padding-top: 25px
	padding-bottom: 35px 
	.title_nav 
		text-transform: uppercase
		font-size: 18px
		color: #fff
		margin-bottom: 20px
	ul
		margin: 0
		justify-content: flex-start
		align-items: flex-start
		display: flex
		flex-direction: column
		li 
			height: 35px
			a 
				text-transform: uppercase
				font-size: 12px
				color: #fff
				text-decoration: none
				padding: 0 3px
				&::after 
					display: block
					content: ''
					height: 2px
					width: 100%
					background-color: #408686
					transform: scale(0)
				&:hover 
					&::after 
						transform: scale(1)
						transform: translateY(-5px)


.active_title 
	color: #04a9a9 !important
.subcribe-bg_footer 
	padding-bottom: 40px
	padding-top: 10px
	min-height: 230px
	background-color: #04a9a9
	.logo_footer
		min-height: 230px
		display: flex
		align-items: center
	.subcribe_form
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		span 
			font-size: 25px
			color: #fff
			margin-bottom: 20px
		form 
			input
				width: 270px
				height: 47px
				border-radius: 5px
				background-color: #ffffff
				border: none
				padding: 17px 20px
				&:last-of-type 
					margin-left: 10px
			button 
				background: none
				border: none
				width: 248px
				height: 50px
				box-shadow: 3px 3px 0 #1a8d8d
				background-color: #7adfdf
				display: block
				margin: 0 auto
				margin-top: 30px
				cursor: pointer
				color: #005d5d
	.contacts
		min-height: 230px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: center
		font-size: 20px
		color: #fff 
		.phones 
			a 
				color: #fff
				text-decoration: none
		.email 
			color: #fff
			text-decoration: underline

.footer_privacy 
	background-color: #00bebe
	padding: 20px 0
	.privacy 
		display: flex
		align-items: center
		justify-content: center
		ul 
			display: flex
			flex-direction: column
			justify-content: center
			margin: 0
			li 
				color: #ffffff
				font-size: 15px
	.soc_icon 
		display: flex
		align-items: center
		justify-content: flex-end
		ul 
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: center
			margin: 0
			li 
				display: inline-block
				vertical-align: middle
				margin: 0 15px
				a  
					svg
						transition: all 0.3s ease
						&:hover 
							fill: #fff !important
					i 
						transition: all 0.3s ease
						font-size: 25px
						color: #8ff7f7
						&:hover 
							color: #fff
.logo_mobile
	a
		display: flex
		align-items: center
		justify-content: center

.faq 
	h1 
		font-size: 40px
		display: flex
		justify-content: center
		margin-bottom: 15px

.title_text 
	font-size: 25px
	margin-bottom: 15px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold



@import "media" // Always at the end
